@{
	ViewBag.Title = "Index";
}

<!--<html>
<head>
	<script src="~/Scripts/Chart.min.js"></script>
	<script src="~/Scripts/jquery-3.4.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<style>
		#chart_container {
			width: 800px;
			height: auto;
			border: 1px solid #ddd;
			padding: 1px;
			border-radius: 4px;
		}
	</style>
</head>
<body>
	<div id="chart_container">
		<canvas id="bar_chart"></canvas>
	</div>

	<script>-->
	@* X *@
	<!--var datas =;-->
	@* Y *@
	<!--var dataArray =;-->
	@* Y *@
	<!--var dataArray1 =
			var ctx = $("#bar_chart")
			var barChart = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: datas,
					datasets: [{
						label: "All Posts",
						data: dataArray,
						backgroundColor: [
							'rgba(255, 99, 132, 0.2)',
							'rgba(54, 162, 235, 0.2)',
							'rgba(255, 206, 86, 0.2)',
							'rgba(75, 192, 192, 0.2)',
							'rgba(153, 102, 255, 0.2)',
							'rgba(255, 159, 64, 0.2)'
						],
						borderColor: [
							'rgba(255, 99, 132, 1)',
							'rgba(54, 162, 235, 1)',
							'rgba(255, 206, 86, 1)',
							'rgba(75, 192, 192, 1)',
							'rgba(153, 102, 255, 1)',
							'rgba(255, 159, 64, 1)'
						],
						borderWidth: 1
					}, {
							label: "All Publication Posts",
							data: dataArray1,
							backgroundColor: [
								'rgba(255, 99, 132, 0.2)',
								'rgba(54, 162, 235, 0.2)',
								'rgba(255, 206, 86, 0.2)',
								'rgba(75, 192, 192, 0.2)',
								'rgba(153, 102, 255, 0.2)',
								'rgba(255, 159, 64, 0.2)'
							],
							borderColor: [
								'rgba(255, 99, 132, 1)',
								'rgba(54, 162, 235, 1)',
								'rgba(255, 206, 86, 1)',
								'rgba(75, 192, 192, 1)',
								'rgba(153, 102, 255, 1)',
								'rgba(255, 159, 64, 1)'
							],
							borderWidth: 1
						}]
				},
				options: {
					maintaninAspecRatio: false,
					scales: {
						xAxes: [{ ticks: { beginAtZero: true } }],
						yAxes: [{
							ticks: {
								max: 50,
								min: 0,
								precision: 1,
								stepSize: 1,
							}
						}]
					},
					legend: { display: true }
				},
			});
	</script>
</body>
</html>-->



@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	<!DOCTYPE html>
	<html lang="en">

	<head>
		<title>CMS Dashboard</title>
		<!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<!-- Meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<!-- Favicon  -->
		<link rel="icon" href="~/images/customer - logo.png">
		<!-- fontawesome icon -->
		<link rel="stylesheet" href="~/FrontEnd/assets/fonts/fontawesome/css/fontawesome-all.min.css">
		<!-- animation css -->
		<link rel="stylesheet" href="~/FrontEnd/assets/plugins/animation/css/animate.min.css">
		<!-- vendor css -->
		<link rel="stylesheet" href="~/FrontEnd/assets/css/style.css">

		<script src="~/Scripts/Chart.min.js"></script>
		<script src="~/Scripts/jquery-3.4.1.min.js"></script>
		<script src="~/Scripts/bootstrap.min.js"></script>
		<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
		<style>
			#chart_container {
				width: 800px;
				height: auto;
				border: 1px solid #ddd;
				padding: 1px;
				border-radius: 4px;
			}
		</style>

	</head>

	<body>
		<!-- [ Animate ] start -->
		<div class="loader-bg">
			<div class="loader-track">
				<div class="loader-fill"></div>
			</div>
		</div>
		<!-- [ Animate ] End -->
		<!-- Preloader -->
		<div class="spinner-wrapper">
			<div class="spinner">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
		</div>
		<!-- end of preloader -->
		<!-- [ navigation menu ] start -->
		<nav class="pcoded-navbar">
			<div class="navbar-wrapper">
				<div class="navbar-brand header-logo">
					<a href="index.html" class="b-brand">
						<div class="b-bg">
							<i class="feather icon-trending-up"></i>
						</div>
						<span class="b-title">Datta Able</span>
					</a>
					<a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
				</div>
				<div class="navbar-content scroll-div">
					<ul class="nav pcoded-inner-navbar">
						<li class="nav-item pcoded-menu-caption">
							<label>Navigation</label>
						</li>
						<li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item active">
							<a href="index.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
						</li>
						<li class="nav-item pcoded-menu-caption">
							<label>UI Element</label>
						</li>
						<li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
							<a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Components</span></a>
							<ul class="pcoded-submenu">
								<li class=""><a href="bc_button.html" class="">Button</a></li>
								<li class=""><a href="bc_badges.html" class="">Badges</a></li>
								<li class=""><a href="bc_breadcrumb-pagination.html" class="">Breadcrumb & paggination</a></li>
								<li class=""><a href="bc_collapse.html" class="">Collapse</a></li>
								<li class=""><a href="bc_tabs.html" class="">Tabs & pills</a></li>
								<li class=""><a href="bc_typography.html" class="">Typography</a></li>


								<li class=""><a href="icon-feather.html" class="">Feather<span class="pcoded-badge label label-danger">NEW</span></a></li>
							</ul>
						</li>
						<li class="nav-item pcoded-menu-caption">
							<label>Forms & table</label>
						</li>
						<li data-username="form elements advance componant validation masking wizard picker select" class="nav-item">
							<a href="form_elements.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Form elements</span></a>
						</li>
						<li data-username="Table bootstrap datatable footable" class="nav-item">
							<a href="tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Table</span></a>
						</li>
						<li class="nav-item pcoded-menu-caption">
							<label>Chart & Maps</label>
						</li>
						<li class="nav-item"><a href="~/Dashboards/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a></li>
						<li data-username="Maps Google" class="nav-item"><a href="map-google.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Maps</span></a></li>
						<li class="nav-item pcoded-menu-caption">
							<label>Pages</label>
						</li>
						<li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
							<a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>
							<ul class="pcoded-submenu">
								<li class=""><a href="auth-signup.html" class="" target="_blank">Sign up</a></li>
								<li class=""><a href="auth-signin.html" class="" target="_blank">Sign in</a></li>
							</ul>
						</li>
						<li data-username="Sample Page" class="nav-item"><a href="sample-page.html" class="nav-link"><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample page</span></a></li>
						<li data-username="Disabled Menu" class="nav-item disabled"><a href="javascript:" class="nav-link"><span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Disabled menu</span></a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- [ navigation menu ] end -->
		<!-- [ Header ] start -->
		<header class="navbar pcoded-header navbar-expand-lg navbar-light">
			<div class="m-header">
				<a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
				<a href="index.html" class="b-brand">
					<div class="b-bg">
						<i class="feather icon-trending-up"></i>
					</div>
					<span class="b-title">Datta Able</span>
				</a>
			</div>
			<a class="mobile-menu" id="mobile-header" href="javascript:">
				<i class="feather icon-more-horizontal"></i>
			</a>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li><a href="javascript:" class="full-screen" onclick="javascript:toggleFullScreen()"><i class="feather icon-maximize"></i></a></li>

				</ul>
				<ul class="navbar-nav ml-auto">
					<li>
						<div class="dropdown drp-user">
							<a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon feather icon-settings"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right profile-notification">
								<div class="pro-head">
									@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
									{
										@Html.AntiForgeryToken()
										<img src="~/FrontEnd/assets/images/user/avatar-2.jpg" class="img-radius" alt="User-Profile-Image">
										<span>
											@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "DashBoard", "Home")
										</span>
										<a href="javascript:document.getElementById('logoutForm').submit()" class="dud-logout" title="Logout">
											<i class="feather icon-log-out"></i>
										</a>
									}
								</div>
								<ul class="pro-body">
									<li><a href="javascript:" class="dropdown-item"><i class="feather icon-settings"></i> Settings</a></li>
									<li><a href="javascript:" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
									<li><a href="message.html" class="dropdown-item"><i class="feather icon-mail"></i> My Messages</a></li>
									<li><a href="auth-signin.html" class="dropdown-item"><i class="feather icon-lock"></i> Lock Screen</a></li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</header>
		<!-- [ Header ] end -->
		<!-- [ Main Content ] start -->
		<div class="pcoded-main-container">
			<div class="pcoded-wrapper">
				<div class="pcoded-content">
					<div class="pcoded-inner-content">
						<!-- [ breadcrumb ] start -->
						<!-- [ breadcrumb ] end -->
						<div class="main-body">
							<div class="page-wrapper">
								<!-- [ Main Content ] start -->
								<div class="row">



									<div id="chart_container">
										<canvas id="bar_chart"></canvas>
									</div>

									<script>
	@* X *@
	var datas = @Html.Raw(Json.Encode(ViewBag.FACULTYTYPE));
	@* Y *@
	var dataArray = @Html.Raw(Json.Encode(ViewBag.ANALYSISDATA));
	@* Y *@
	var dataArray1 = @Html.Raw(Json.Encode(ViewBag.ANALYSISDATA1));
			var ctx = $("#bar_chart")
			var barChart = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: datas,
					datasets: [{
						label: "All Posts",
						data: dataArray,
						backgroundColor: [
							'rgba(255, 99, 132, 0.2)',
							'rgba(54, 162, 235, 0.2)',
							'rgba(255, 206, 86, 0.2)',
							'rgba(75, 192, 192, 0.2)',
							'rgba(153, 102, 255, 0.2)',
							'rgba(255, 159, 64, 0.2)'
						],
						borderColor: [
							'rgba(255, 99, 132, 1)',
							'rgba(54, 162, 235, 1)',
							'rgba(255, 206, 86, 1)',
							'rgba(75, 192, 192, 1)',
							'rgba(153, 102, 255, 1)',
							'rgba(255, 159, 64, 1)'
						],
						borderWidth: 1
					}, {
							label: "All Publication Posts",
							data: dataArray1,
							backgroundColor: [
								'rgba(255, 99, 132, 0.2)',
								'rgba(54, 162, 235, 0.2)',
								'rgba(255, 206, 86, 0.2)',
								'rgba(75, 192, 192, 0.2)',
								'rgba(153, 102, 255, 0.2)',
								'rgba(255, 159, 64, 0.2)'
							],
							borderColor: [
								'rgba(255, 99, 132, 1)',
								'rgba(54, 162, 235, 1)',
								'rgba(255, 206, 86, 1)',
								'rgba(75, 192, 192, 1)',
								'rgba(153, 102, 255, 1)',
								'rgba(255, 159, 64, 1)'
							],
							borderWidth: 1
						}]
				},
				options: {
					maintaninAspecRatio: false,
					scales: {
						xAxes: [{ ticks: { beginAtZero: true } }],
						yAxes: [{
							ticks: {
								max: 50,
								min: 0,
								precision: 1,
								stepSize: 1,
							}
						}]
					},
					legend: { display: true }
				},
			});
									</script>





								</div>
								<!-- [ Main Content ] end -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- [ Main Content ] end -->
		<!-- Required Js -->
		<script src="~/FrontEnd/assets/js/vendor-all.min.js"></script>
		<script src="~/FrontEnd/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="~/FrontEnd/assets/js/pcoded.min.js"></script>

	</body>
</html>
}